[Desktop Entry]
Name=Stalker GAMMA GUI
Exec=StalkerGamma.Gui
Icon=stalker-gamma-gui
Type=Application
Categories=Game;Utility;
Terminal=false
StartupWMClass=StalkerGamma.Gui
